{% extends "dashboard.html" %}
{% load static %}
{% load tailwind_tags %}
{% block content %}

{% if user.is_authenticated %}
{% if user.user_type  == user.owner %}
<link rel="stylesheet" type="text/css" href="{% static 'css/add_offer.css' %}">
<div class="relative flex items-center p-0 overflow-hidden bg-center bg-cover min-h-75-screen">
    <div class="container z-10">
        <div class="flex flex-wrap mt-0 -mx-3">
            <div class="flex flex-col w-full max-w-full px-3 mx-auto md:flex-0 shrink-0 md:w-6/12 lg:w-5/12 xl:w-4/12">
                <div class="relative flex flex-col min-w-0 mt-32 break-words bg-transparent border-0 shadow-none rounded-2xl bg-clip-border">
                    <div class="p-6 pb-0 mb-0 bg-transparent border-b-0 rounded-t-2xl">
                        <h3 class="relative z-10 font-bold text-transparent bg-gradient-to-tl from-blue-600 to-cyan-400 bg-clip-text">
                            Fill out the form</h3>
                        <p class="mb-0">Form description:
                            1.Title: Name of the post
                            2.Description: Problem Description , try to describe your problem as well as possible.
                            3.Category: In which category will the post be placed! There are currently seven of them.
                            4.Budget:Your projected budget for it.
                            5.Strat date: Which date suits you for the repair.
                        </p>
                    </div>
                    <div class="flex-auto p-6">
                        <form action="" method="POST" class="add_offer">
                            {% csrf_token %}

                            <label class="mb-2 ml-1 font-bold text-xs text-slate-700">Title:</label>
                            <div class="mb-4">
                                <input type="text" name="name" id="id_name"
                                       class="form-control focus:shadow-soft-primary-outline text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:outline-none focus:transition-shadow"
                                       placeholder="Title" aria-label="Title" aria-describedby="title-addon"/>
                            </div>

                            <label class="mb-2 ml-1 font-bold text-xs text-slate-700">Description:</label>
                            <div class="mb-4">
                            <textarea name="bio" cols="40" rows="10" class="form-control" required="" id="id_bio"
                                      placeholder="DESCRIPTION"></textarea>
                            </div>

                            <label class="mb-2 ml-1 font-bold text-xs text-slate-700">CATEGORY:</label>
                            <div class="mb-4">
                                <select name="category" class="form-control" required="" id="id_category"
                                        placeholder="CATEGORY">
                                    <option value="" selected="">---------</option>
                                    <option value="1">Vodoinstalater\ka</option>
                                    <option value="2">Eelektricar\ka</option>
                                    <option value="3">Moler\ka</option>
                                    <option value="4">Stolar\ka</option>
                                    <option value="5">IT</option>
                                    <option value="6">Zidar\ka</option>
                                    <option value="7">Cistac\ica</option>
                                </select>
                            </div>

                            <label class="mb-2 ml-1 font-bold text-xs text-slate-700">Budget:</label>
                            <div class="mb-4">
                                <input type="number" name="budget" value="0" min="0" id="id_budget"
                                       class="form-control focus:shadow-soft-primary-outline text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:outline-none focus:transition-shadow"/>
                            </div>

                            <label class="mb-2 ml-1 font-bold text-xs text-slate-700">Start date:</label>
                            <div class="mb-4">
                                <input type="date" name="date" value="0" min="0" id="id_date" id="id_date" required=""
                                       class="form-control focus:shadow-soft-primary-outline text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:outline-none focus:transition-shadow"/>

                            </div>

                            <input type="hidden" name="user_of_post" class="form-control" value="" id="user">
                            <input type="submit" value="Submit" class="btn-success">
                        </form>
                    </div>

                </div>
            </div>
            <div class="w-full max-w-full px-3 lg:flex-0 shrink-0 md:w-6/12">
                <div class="absolute top-0 hidden w-3/5 h-full -mr-32 overflow-hidden -skew-x-10 -right-40 rounded-bl-xl md:block">
                    <div class="absolute inset-x-0 top-0 z-0 h-full -ml-16 bg-cover skew-x-10 image_form"></div>
                </div>
            </div>
        </div>
    </div>


    <script>
                          function goBack() {
                              window.history.back();
                         }
                        var name ="{{ user.id }}";
                        document.getElementById("user").value = name;

















    </script>
</div>

{% endif %}
{% endif %}
{% endblock %}



