{% extends "dashboard.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<link rel="stylesheet" type="text/css" href="{% static 'css/offer_detail_view.css' %}">

<main class="container">
    <!-- Left Column / Headphones Image -->
    <div class="left-column">
        {% if chorespost.post_image %}
        <img data-image="red" class="active" src="{{ chorespost.post_image.url }}" alt="">
        {%endif%}
    </div>


    <!-- Right Column -->
    <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
            <span>ID {{ chorespost.pk }}</span>
            <h1>{{ chorespost.name }}</h1>
            <p>{{ chorespost.bio }}</p>
        </div>

     
        <div class="product-configuration">

            <!-- Offer date -->
            <div class="product-color">
                <span>Date of post:</span>

                <div class="color-choose">
                    <p class="mt-1 mb-0 font-semibold leading-tight text-xs text-slate-400">
                        {{ chorespost.date_of_post }} </p>
                </div>
                <br>
                <span>Start date:</span>

                <div class="color-choose">
                    <p class="mt-1 mb-0 font-semibold leading-tight text-xs text-slate-400">
                        {{ chorespost.date }} </p>
                </div>

            </div>

            <!-- Offer owner -->
            <div class="cable-config">
                <span>Owner</span>

                <div class="cable-choose">
                    {{ chorespost.user_of_post.username }}
                </div>

            </div>
        </div>

        <!-- Product Pricing -->
        <div class="product-price">
            <span>{{ chorespost.budget }}rsd</span>
            {% if user.user_type == user.worker %}
            <a href="{% url 'messages_compose_to' chorespost.user_of_post.username %}" class="cart-btn">Send
                message </a>
            {% endif %}
        </div>
    </div>
</main>
{% endif %}
{% endblock %}