{% extends "dashboard.html" %}
{% load static %}
{% load tailwind_tags %}
{% block content %}
{% if user.is_authenticated %}

<link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}">

<section class="bg-gray-50 py-10">
    <div class="container max-w-screen-xl mx-auto px-4">

        <div class="flex flex-wrap -mx-4">
            <main class="md:w-3/4 px-4">

                <!--  COMPONENT: ITEM -->
                {% for listing in listing_filter.qs %}
                <article class="border border-gray-200 overflow-hidden bg-white shadow-sm rounded mb-5">
                    <div class="flex flex-col md:flex-row">
                        <div class="md:w-1/4 border-r border-gray-200">
                            {% if listing.post_image %}
                            <img class="mx-auto" src="{{ listing.post_image.url }}" alt="Product name text">
                            {% endif %}
                        </div> <!-- col.// -->
                        <div class="md:w-3/4">
                            <div class="p-4">
                                <a class="float-right px-3 py-2 inline-block text-gray-400 border border-gray-300 rounded-md hover:bg-gray-100"
                                   href="#">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a href="#" class="hover:text-blue-600">
                                    {{ listing.name }}
                                </a>


                                <p class="text-gray-500 mb-2">
                                    {{ listing.bio|safe|truncatewords:18 }}
                                </p>
                                <a class="text-blue-600 hover:text-blue-700" href="{% url 'ShowOffer' listing.pk %}">Details</a>

                            </div>
                        </div> <!-- col.// -->
                    </div> <!-- flex.// -->
                </article>
                {% endfor %}
                <!--  COMPONENT: ITEM //END -->


                <hr class="my-5">


            </main> <!-- col .// -->
            <aside class="md:w-1/4 px-3">

                <!--  COMPONENT: SIDEBAR -->
                <div class="px-6 py-4 border border-gray-200 bg-white rounded shadow-sm">
                    <h3 class="font-semibold mb-2">Filter</h3>
                    <form class="d-flax filter_form" method="get">
                        <ul class="text-gray-500 space-y-1">
                            <li>
                                <label>Name of post: </label>
                                <input type="text" name="name" value="" id="id_name" style="border:1px solid black;">
                            </li>
                            <li>
                                <label>Category:</label><br>
                                <select name="category" id="id_category" style="border:1px solid black;">
                                    <option value="" selected="">---------</option>
                                    <option value="1">Vodoinstalater\ka</option>
                                    <option value="2">Eelektricar\ka</option>
                                    <option value="3">Moler\ka</option>
                                    <option value="4">Stolar\ka</option>
                                    <option value="5">IT</option>
                                    <option value="6">Zidar\ka</option>
                                    <option value="7">Cistac\ica</option>
                                </select>
                            </li>
                            <li>
                                <label>Date of publish:</label>
                                <input type="date" name="date_of_post" id="id_date_of_post"
                                       style="border:1px solid black;">
                            </li>
                            <li>
                                <label for="id_budget__lt">Budget is less than:</label>
                                <input type="number" name="budget__lt" step="any" id="id_budget__lt"
                                       style="border:1px solid black;">
                            </li>
                            <li>
                                <label for="id_budget__gt">Budget is greater than:</label>
                                <input type="number" name="budget__gt" step="any" id="id_budget__gt"
                                       style="border:1px solid black;">
                            </li>
                            <li>
                                <label>Start date: </label><br>
                                <input type="date" name="date" id="id_date" style="border:1px solid black;">
                            </li>
                            <li>
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                                    <i class="fa fa-filter" aria-hidden="true"></i>
                                    Filter
                                </button>
                            </li>
                        </ul>
                    </form>
                    <hr class="my-4">


                </div>
                <!--  COMPONENT: SIDEBAR //END -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->

    </div> <!-- container.// -->
</section>

{% endif %}
{% endblock %}


