<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet" type="text/css" href="{% static 'css/user_dashboard_page.css' %}">-->
<!--    <link rel="stylesheet" type="text/css" href="{% static 'css/users_profile.css' %}">-->
<!--    <script src="{% static 'js/user_dashboard_page.js' %}"></script>-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />-->
<!--</head>-->
<!--    <body>-->
<!--{% block content %}-->

<!--    {% if user.is_authenticated %}-->
<!--    {% if user.user_type  == user.owner %}-->

<!--        <div class="container">-->
<!--&lt;!&ndash;            sidebar user dashboard left&ndash;&gt;-->
<!--            <aside>-->
<!--                <div class="sidebar">-->
<!--                    <a href="#" class="active">-->
<!--                        <span class="material-symbols-sharp">dashboard</span>-->
<!--                        <h3>Dashboard</h3>-->
<!--                    </a>-->


<!--                    <a href="#">-->
<!--                        <span class="material-symbols-sharp">person</span>-->
<!--                        <h3>Users</h3>-->
<!--                    </a>-->


<!--                    <a href="#">-->
<!--                        <span class="material-symbols-sharp">topic</span>-->
<!--                        <h3>Post</h3>-->
<!--                    </a>-->


<!--                    <a href="#">-->
<!--                        <span class="material-symbols-sharp">post_add</span>-->
<!--                          <h3>Add post</h3>-->
<!--                    </a>-->

<!--                    <a href="#">-->
<!--                        <span class="material-symbols-sharp">mail</span>-->
<!--                              <h3>Message</h3>-->
<!--                    </a>-->


<!--                    <a href="#">-->
<!--                        <span class="material-symbols-sharp">settings</span>-->
<!--                            <h3>Settings</h3>-->
<!--                    </a>-->


<!--                    <a href="#">-->
<!--                        <span class="material-symbols-sharp">logout</span>-->
<!--                        <h3>Logout</h3>-->
<!--                    </a>-->

<!--                </div>-->
<!--            </aside>-->
<!--&lt;!&ndash;            end sidebar dashboard &ndash;&gt;-->
<!--&lt;!&ndash;        start dashboard page&ndash;&gt;-->

<!--&lt;!&ndash;            end dashboard page&ndash;&gt;-->


<!--&lt;!&ndash; start user profile page&ndash;&gt;-->


<!--&lt;!&ndash;            end user profile page&ndash;&gt;-->








<!--&lt;!&ndash;          end container div &ndash;&gt;-->
<!--        </div>-->


<!--{% endif %}-->
<!--{% endif %}-->


<!--{% endblock %}-->

<!--    </body>-->
<!--<script src="{% static 'js/user_dashboard_page.js' %}"></script>-->
<!--</html>-->
</body>
</html>