{% load static %}
<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1256cd022a.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/user_dashboard_page.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_dashboard_test.css' %}">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">



</head>

{% if user.is_authenticated %}
 <body>
 <div class="container-fluid">
 <div class="area">
    </div>
    <nav class="main-menu">
            <ul>
                <li>
                    <a  href="{% url 'user-dashboard' %}">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a href="{% url 'OfferView' %}">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        <span class="nav-text">
                            Offers
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a href="{% url 'workers-profile' %}">
                       <i class="fa fa-users" aria-hidden="true"></i>
                        <span class="nav-text">
                            Users
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="{% url 'messages_inbox' %}">
                       <i class="fa fa-inbox" aria-hidden="true"></i>
                        <span class="nav-text">
                        Message
                        </span>
                    </a>

                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span class="nav-text">
                            Settings
                        </span>
                    </a>
                </li>
                {% if user.user_type  == user.owner %}
                <li>
                    <a href="{% url 'AddNewOffer' %}">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <span class="nav-text">
                           Add post
                        </span>
                    </a>
                </li>
                {% endif %}
                <li>
                   <a href="#">
                       <i class="fa fa-info" aria-hidden="true"></i>
                        <span class="nav-text">
                            Info
                        </span>
                    </a>
                </li>

            </ul>

            <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>
            </ul>
        </nav>

                {% block content %}
                             <div class="gap">
                                    <h1 class="w">W</h1>
                                    <h1 class="e">E</h1>
                                    <h1 class="l">L</h1>
                                    <h1 class="c">C</h1>
                                    <h1 class="o">O</h1>
                                    <h1 class="m">M</h1>
                                    <h1 class="e">E</h1>

                                    <h4 class="username">{{ user.username }}</h4>
                                </div>
                            <div class="user_info">

                            </div>



<!--                        <h1><span class="middle">{{ user.first_name }} - {{ user.last_name }} -{{ user.user_type.USER_TYPE_CHOICE }}</span> This is you</h1>-->
<!--                        <h1><span class="middle">{{ user.email }} - {{ user.phone_number }} </span> This is you</h1>-->

                {% endblock%}




 </div>


  </body>
{% endif %}

    <script src="{% static 'js/user_dashboard_page.js' %}"></script>
</html>
