{% extends "dashboard.html" %}
{% load static %}
{% load tailwind_tags %}
{% block content %}
{% if user.is_authenticated %}

<link rel="stylesheet" type="text/css" href="{% static 'css/users_profile.css' %}">
<div class="container-fluid filter">
    <h1>Our clients</h1>
    <form class="d-flax filter_form" method="get">
        <label for="id_user_type">User type:</label>
        <select name="user_type" id="id_user_type">
            <option value="" selected="">---------</option>
            <option value="1">Worker</option>
            <option value="2">Owner</option>
        </select>
        <label for="id_last_name">Last name:</label>
        <input type="text" name="last_name" id="id_last_name">
        <label for="id_first_name">First name:</label>
        <input type="text" name="first_name" id="id_first_name">
        <label for="id_username">Username:</label>
        <input type="text" name="username" id="id_username">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filter</button>
    </form>
</div>
<section class="card container grid">
    <div class="card__container grid">
        <!--==================== CARD  ====================-->
        {% for listing_filter in listing_filter.qs %}
        <article class="card__content grid">
            <div class="card__pricing">
                <div class="card__pricing-number">
                    <span class="card__pricing-symbol">Id:</span> {{ listing_filter.pk }}
                </div>

            </div>

            <header class="card__header">
                <div class="card__header-circle grid">
                    <img src="" alt="" class="card__header-img">
                </div>

                <span class="card__header-subtitle">Username:</span>
                <h1 class="card__header-title">{{ listing_filter.username }}</h1>
            </header>

            <div class="flex-auto p-4">
                <div class="before:border-r-solid relative before:absolute before:top-0 before:left-4 before:h-full before:border-r-2 before:border-r-slate-100 before:content-[''] before:lg:-ml-px">
                    <div class="relative mb-4 mt-0 after:clear-both after:table after:content-['']">
                    <span class="w-6.5 h-6.5 text-base absolute left-4 z-10 inline-flex -translate-x-1/2 items-center justify-center rounded-full bg-white text-center font-semibold">
                        <i class="fa fa-user text-lime-500" aria-hidden="true"></i>

                    </span>
                        <div class="ml-11.252 pt-1.4 lg:max-w-120 relative -top-1.5 w-auto">
                            <h6 class="mb-0 font-semibold leading-normal text-sm text-slate-700">Full name:</h6>
                            <p class="mt-1 mb-0 font-semibold leading-tight text-xs text-slate-400">
                                {{ listing_filter.first_name }} {{ listing_filter.last_name }}
                            </p>
                        </div>
                    </div>
                    <div class="relative mb-4 after:clear-both after:table after:content-['']">
                    <span class="w-6.5 h-6.5 text-base absolute left-4 z-10 inline-flex -translate-x-1/2 items-center justify-center rounded-full bg-white text-center font-semibold">
                      <i class="fa fa-calendar text-lime-500"></i>
                    </span>
                        <div class="ml-11.252 pt-1.4 lg:max-w-120 relative -top-1.5 w-auto">
                            <h6 class="mb-0 font-semibold leading-normal text-sm text-slate-700">Date of birth:</h6>
                            <p class="mt-1 mb-0 font-semibold leading-tight text-xs text-slate-400">
                                {{ listing_filter.date_of_birth }}</p>
                        </div>
                    </div>
                    <div class="relative mb-4 after:clear-both after:table after:content-['']">
                    <span class="w-6.5 h-6.5 text-base absolute left-4 z-10 inline-flex -translate-x-1/2 items-center justify-center rounded-full bg-white text-center font-semibold">
                      <i class="fa fa-sign-in  text-lime-500" aria-hidden="true"></i>
                    </span>
                        <div class="ml-11.252 pt-1.4 lg:max-w-120 relative -top-1.5 w-auto">
                            <h6 class="mb-0 font-semibold leading-normal text-sm text-slate-700">
                                joined in</h6>
                            <p class="mt-1 mb-0 font-semibold leading-tight text-xs text-slate-400">
                                {{ listing_filter.date_joined }}
                            </p>
                        </div>
                    </div>

                </div>
            </div>


            <button class="card__button"><a href="{% url 'profile' listing_filter.pk %}">See profile</a></button>
        </article>
        {% endfor %}

    </div>
</section>


{% endif %}
{% endblock %}